In [3]:
# unable to get zip level ZCTA data
# each ZCTA is built by aggregating 2010 Census blocks, whose addresses use a given ZIP Code." .

# B09010_001E	Total:	B09010. Receipt of SSI, Public Assistance Income, or Food Stamps/SNAP in the Past 12 Mnths by Hhld Type for Children < 18 in Hhl
#B06010_001E	Total:	B06010. Place of Birth by Individual Income in the United States
#B06010_002E	No income	B06010. Place of Birth by Individual Income in the United States
#B06010_004E	With income:!!$1 to $9,999 or loss	B06010. Place of Birth by Individual Income in the United States
#B06010_005E	With income:!!$10,000 to $14,999	B06010. Place of Birth by Individual Income in the United States
#B06010_006E	With income:!!$15,000 to $24,999	B06010. Place of Birth by Individual Income in the United States
#B06010_007E	With income:!!$25,000 to $34,999	B06010. Place of Birth by Individual Income in the United States
#B06010_008E	With income:!!$35,000 to $49,999	B06010. Place of Birth by Individual Income in the United States
#B06010_009E	With income:!!$50,000 to $64,999	B06010. Place of Birth by Individual Income in the United States
#B06010_010E	With income:!!$65,000 to $74,999	B06010. Place of Birth by Individual Income in the United States
#B06010_011E	With income:!!$75,000 or more	B06010. Place of Birth by Individual Income in the United States
#B06009_001E	Total:	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_002E	Less than high school graduate	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_003E	High school graduate (includes equivalency)	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_004E	Some college or associate's degree	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_005E	Bachelor's degree	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_006E	Graduate or professional degree	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES

#c.acs5.zipcode(('B09010_001E', 'B06010_001E', 'B06010_002E', 'B06010_004E', 'B06010_005E', 'B06010_006E', 'B06010_007E','B06010_008E', 'B06010_009E', 'B06010_010E', 'B06010_011E',
 #              'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_004E', 'B06009_005E', 'B06009_006E'), Census.ALL) 

import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

#SIE = censusdata.download('acs5', 2011, censusdata.ZCTAGeography([('zcta', '*')]),
 #                                  ['B09010_001E', 'B06010_001E', 'B06010_002E', 'B06010_004E', 'B06010_005E', 'B06010_006E', 'B06010_007E','B06010_008E', 'B06010_009E', 'B06010_010E',
  #                                  'B06010_011E', 'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_004E', 'B06009_005E', 'B06009_006E'])

SIE = censusdata.download('acs5', 2017, censusdata.censusgeo([('county', '*')]),
                                   ['B09010_001E', 'B06010_001E', 'B06010_002E', 'B06010_004E', 'B06010_005E', 'B06010_006E', 'B06010_007E','B06010_008E', 'B06010_009E', 'B06010_010E',
                                    'B06010_011E', 'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_004E', 'B06009_005E', 'B06009_006E'])

SIE.describe()

       B09010_001E  B06010_001E  B06010_002E  B06010_004E  B06010_005E  B06010_006E  B06010_007E  B06010_008E  B06010_009E  B06010_010E  B06010_011E  B06009_001E  B06009_002E  B06009_003E  B06009_004E  B06009_005E  B06009_006E
count     3.22e+03     3.14e+03     3.14e+03     3.14e+03      3142.00     3.14e+03      3142.00      3142.00      3142.00      3142.00     3.14e+03     3.14e+03     3.14e+03     3.14e+03     3.14e+03     3.14e+03      3142.00
mean      2.30e+04     8.27e+04     1.13e+04     1.33e+04      7200.49     1.15e+04      9084.11      9856.23      6936.76      2924.93     1.07e+04     6.88e+04     8.73e+03     1.88e+04     2.00e+04     1.32e+04      8119.20
std       7.53e+04     2.65e+05     4.39e+04     4.00e+04     23023.58     3.56e+04     27062.73     28886.22     21077.77      9306.01     4.04e+04     2.21e+05     3.78e+04     5.06e+04     6.04e+04     4.77e+04     30151.23
min       0.00e+00     6.70e+01     4.00e+00     9.00e+00         2.00     5.00e+00         9.00        12.00         3.00         0.00     1.00e+01     6.40e+01     4.00e+00     2.00e+01     2.70e+01     3.00e+00         0.00
25%       2.47e+03     8.89e+03     1.07e+03     1.65e+03       934.00     1.39e+03      1057.25      1068.25       639.25       218.00     5.62e+02     7.58e+03     1.02e+03     2.75e+03     2.28e+03     7.82e+02       385.25
50%       5.84e+03     2.10e+04     2.75e+03     3.87e+03      2185.50     3.31e+03      2547.50      2589.00      1566.50       573.00     1.44e+03     1.78e+04     2.53e+03     6.37e+03     5.27e+03     2.02e+03      1044.50
75%       1.49e+04     5.49e+04     7.08e+03     9.88e+03      5388.25     8.45e+03      6635.25      6909.00      4517.75      1777.25     4.76e+03     4.59e+04     5.79e+03     1.52e+04     1.42e+04     6.40e+03      3616.00
max       2.27e+06     8.23e+06     1.52e+06     1.24e+06    803961.00     1.15e+06    795580.00    805053.00    565847.00    252014.00     1.10e+06     6.80e+06     1.49e+06     1.41e+06     1.78e+06     1.38e+06    739973.00