In [36]:
import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

county65plus = censusdata.download('acs5', 2017, censusdata.censusgeo([('county', '*')]),
                                   ['B01001_001E', 'B01001_020E', 'B01001_021E', 'B01001_022E', 'B01001_023E',
                                    'B01001_024E', 'B01001_025E', 'B01001_044E', 'B01001_045E', 'B01001_046E',
                                    'B01001_047E', 'B01001_048E', 'B01001_049E'])
county65plus.describe()

       B01001_001E  B01001_020E  B01001_021E  B01001_022E  B01001_023E  B01001_024E  B01001_025E  B01001_044E  B01001_045E  B01001_046E  B01001_047E  B01001_048E  B01001_049E
count     3.22e+03      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00
mean      1.01e+05      1031.90      1332.13      1679.08      1151.10       766.28       663.33      1145.17      1498.46      1965.75      1437.25      1082.01      1266.80
std       3.24e+05      2896.95      3674.50      4605.06      3205.04      2228.28      2071.40      3333.14      4296.89      5628.66      4158.48      3214.35      3861.75
min       7.40e+01         0.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00
25%       1.12e+04       139.00       181.75       250.00       169.00       107.75        83.00       138.00       192.00       262.75       200.75       145.75       158.75
50%       2.58e+04       320.00       422.50       537.00       376.00       238.00       188.00       335.50       446.50       590.00       452.00       322.00       352.00
75%       6.66e+04       798.00      1052.00      1338.00       894.25       572.25       456.50       834.00      1129.00      1478.25      1078.25       793.25       861.25
max       1.01e+07     87048.00    105052.00    131080.00     92494.00     65707.00     63825.00     97862.00    125281.00    164340.00    122687.00     95940.00    113668.00