## Initial EDA

load in the data and first look at our target variable

In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

from sklearn.tree import DecisionTreeClassifier                          # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split                     # Import train_test_split function from sklearn
from sklearn import metrics                                              #Import scikit-learn metrics module for accuracy calculation

In [20]:
#df = pd.read_excel('Full_Datav6_zip_extract.xls', header=None)
#df = pd.read_excel('Full_Datav5.xlsx', header=0)
#df = pd.read_csv('Full_Datav5.csv', header=0)



#y = df['Y']
#y = df.Y

#df.head()

#df = pd.read_excel('Full_Datav4.xls', header=0)
#df = pd.read_excel('Full_Datav6_zip_extract.xls', header=None)
df = pd.read_excel('Full_Datav6_zip_extractt.xls', header=0, skiprows=0, names=['Households SNAP' , 'Estimated Individuals SNAP' , 'SNAP percent Population' , 
                                                                                'SNAP Per Capita Benefit or TAM' , 'Total Citizen Educated in US' , 
                                                                                'Citizen Less than High School Education' , 'Citizen High School  Graduate' , 
                                                                                'Citizen Some College Education' , 'Citizen College Degree'  , 'Citizen Graduate or Professional Degree',
                                                                                'Total Citizen Income' , 'Citizen No Income' , 'Citizen Income 1-9999' , 'Citizen Income 10000-14999' , 
                                                                                'Citizen Income 15000-24999' , 'Citizen Income 25000-34999' , 'Citizen Income 35000-49999' , 
                                                                                'Citizen Income 50000-64999' , 'Citizen Income 65000-74999' , 'Citizen Income 75000 plus'  , 
                                                                                'Total Population' , 'One Race Population' , 'White Race' , 'Black Race' , 'Native American Race' , 
                                                                                'Asian Race' , 'Pacific Islander Race' , 'Other Race Alone' , 'Hispanic or Latino' ,
                                                                                'Median Age', 'Male Median Age' , 'Female Median Age', 'Total Households' , 'Average Household Size' , 
                                                                                'Total Families' , 'state code' , 'zip code'])

 Households SNAP , Estimated Individuals SNAP , SNAP percent Population , 
    SNAP Per Capita Benefit or TAM , Total Citizen Educated in US , 
    Citizen Less than High School  Education , Citizen High School  Graduate , 
    Citizen Some College  Education , Citizen College Degree  , Citizen Graduate or Professional Degree , 
    Total Citizen Income , Citizen No Income , Citizen Income 1-9999 , Citizen Income 10000-14999 , 
    Citizen Income 15000-24999 , Citizen Income 25000-34999 , Citizen Income 35000-49999 , 
    Citizen Income 50000-64999 , Citizen Income 65000-74999 , Citizen Income 75000 plus  , 
    Total Population , One Race Population , White Race , Black Race , Native American Race , 
    Asian Race , Pacific Islander Race , Other Race Alone , Hispanic or Latino ,
    Median Age,Male Median Age , Female Median Age, Total Households , Average Household Size , Total Families , state code , zip code
#df = pd.read_excel('Full_Datav6_zip_extractt.xls', skiprows=1, names=['1'])
                                                                #      ,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37'])

#df = pd.read_csv('Full_Datav6_zip_extracttf.csv')

#df = pd.read_excel('Full_Datav4.xls', header=None)


df.columns = df.iloc[0,:]

#df.rename(index=str, columns={"SNAP Per Capita Benefit or TAM": "Y"}, inplace=True)

#df.drop('ID', inplace=True, axis=0)

#y = df["Y"]
#y = df.Y

df.head()

ValueError: Length mismatch: Expected axis has 37 elements, new values have 36 elements

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32937 entries, 0 to 32936
Data columns (total 37 columns):
Households SNAP                             32937 non-null object
Estimated Individuals SNAP                  32937 non-null object
SNAP % Population                           32937 non-null object
SNAP Per Capita Benefit or TAM              32937 non-null object
Total Citizen Educated in US                32937 non-null object
Citizen Less than High School  Education    32937 non-null object
Citizen High School  Graduate               32937 non-null object
Citizen Some College  Education             32937 non-null object
Citizen College Degree                      32937 non-null object
Citizen Graduate or Professional Degree     32937 non-null object
Total Citizen Income                        32937 non-null object
Citizen No Income                           32937 non-null object
Citizen Income $1-$9,999                    32937 non-null object
Citizen Income $10,000-$14,999              32937 non-null object
Citizen Income $15,000-$24,999              32937 non-null object
Citizen Income $25,000-$34,999              32937 non-null object
Citizen Income $35,000-$49,999              32937 non-null object
Citizen Income $50,000-$64,999              32937 non-null object
Citizen Income $65,000-$74,999              32937 non-null object
Citizen Income $75,000 +                    32937 non-null object
Total Population                            32937 non-null object
One Race Population                         32937 non-null object
White Race                                  32937 non-null object
Black Race                                  32937 non-null object
Native American Race                        32937 non-null object
Asian Race                                  32937 non-null object
Pacific Islander Race                       32937 non-null object
Other Race Alone                            32937 non-null object
Hispanic or Latino                          32937 non-null object
Median Age                                  32937 non-null object
Male Median Age                             32937 non-null object
Female Median Age                           32937 non-null object
Total Households                            32937 non-null object
Average Household Size                      32937 non-null object
Total Families                              32937 non-null object
state code                                  32937 non-null object
zip code                                    32937 non-null object
dtypes: object(37)
memory usage: 9.3+ MB

In [ ]:
# create header row

In [ ]:
# building features and re-naming target data Y

df.rename(index=str, columns={"SNAP Per Capita Benefit or TAM": "Y"}, inplace=True)
#df.drop('NAME', axis=1, inplace=True )
#df = df.astype('float32')

df.head()

In [ ]:
#find out missing values
names = []
value = []
for col in df.columns:
    names.append(col)
    value.append(df[col].isnull().sum())
    print("number of missing values: ", names[-1], value[-1],"""     """, "Percentage of missing values:", names[-1], round((value[-1]/32936)*100))  
    #print("number of missing values: ", names[-1], value[-1],"""     """, "Percentage of missing values:", names[-1], round((value[-1]/682)*100))

In [ ]:
#convert columns to numeric

#df = pd.to_numeric
#df = df.astype('float32')

s = pd.Series(['Households SNAP', 'Estimated Individuals SNAP', 'SNAP % Population', 'SNAP Per Capita Benefit or TAM', 'Total Citizen Educated in US'])
#               'Citizen Less than High School Education', 'Citizen High School Graduate', 'Citizen Some College Education', 'Citizen College Degree', 
 #              'Citizen Graduate or Professional Degree', 'Total Citizen Income', 'Citizen No Income',  Citizen Income $1-$9,999 	 Citizen Income $10,000-$14,999 	 Citizen Income $15,000-$24,999 	 Citizen Income $25,000-$34,999 	 Citizen Income $35,000-$49,999 	 Citizen Income $50,000-$64,999 	 Citizen Income $65,000-$74,999 	 Citizen Income $75,000 +  	 Total Population 
#Other Race Alone	Hispanic or Latino	Median Age	Male Median Age	Female Median Age	Total Households	Average Household Size	Total Families	state code	zip code

pd.to_numeric(s)


               
df.info()

In [ ]:
df.info()

In [ ]:
# All columns should be numeric except NAME. Converting to numeric and NAME to a string

cols= i for i in df.columns if i not in ["NAME"]
for col in cols:
    df[col]=pd.to_numeric(df[col])
      
#cols=[i for i in df.columns if i not in ["NAME"]
#for col in cols:
 #   df[col]=pd.to_numeric(df[col])

In [ ]:
#split my data
df = df.astype('float32')
#X = df.drop(columns = 'Y')
#y = df['Y']

df.info()

All of these columns should be columns should be numeric, so let's convert it all to numeric

In [ ]:
df = df(NAME).astype('str')
#df = df.astype('float32')
#df = pd.DataFrame(NAME, dtype='str')
#df = pd.DataFrame(X, dtype='float32')

df.info()

In [ ]:
df.info()

## Let's look at the target variable.

In [ ]:
df.Y.value_counts().plot(kind='bar')

There is some inbalance here, so we need to note to do some sort of imbalance handling later in the pipeline.

Now let's look at some univariate plots to get a sense of what our features look like.

In [ ]:
df.columns

In [ ]:
#create histograms for each variable
#we'll group some of the columns together to make plotting easier

df_group1 = df.iloc[:, 0:5]
df_group1.plot(kind='density', subplots=True, layout=(3,2), sharex=False)
plt.show()


#df.hist()
#plt.show()

Some notes: LIMIT_BAL and AGE are approaching a gaussian shape, but both are somewhat rightly skewed. Both sex and Marriage are bimodal (obviously), and Education is trimodal, with the three most common values of 1, 2, 3, and a tiny amount of 4, and 5. Besides LIMIT_BAL, nothing particular about these features. 

Next, we'll look at the Payment history. Since the values in these features are categorical in nature, we'll use bar plots.

In [ ]:
#create group
df_pay_hist = df.iloc[:,5:11]

fig, ax = plt.subplots(figsize = (10,8), sharex=True)


plt.subplot(3,2,1)
df['PAY_0'].value_counts().plot(kind='bar')

plt.subplot(3,2,2)
df['PAY_2'].value_counts().plot(kind='bar')

plt.subplot(3,2,3)
df['PAY_3'].value_counts().plot(kind='bar')

plt.subplot(3,2,4)
df['PAY_4'].value_counts().plot(kind='bar')

plt.subplot(3,2,5)
df['PAY_5'].value_counts().plot(kind='bar')

plt.subplot(3,2,6)
df['PAY_6'].value_counts().plot(kind='bar')

Some notes: all the plots are pretty much the same. Values of 0 are the most common by a large amount, i.e. another instance of some class inbalance. Will have to handle as well. 

Next, look at the Bill amounts.

In [ ]:
df['BILL_AMT1'].plot(kind='hist', )

In [ ]:
#create group
ax, fig = plt.subplots(figsize = (10,8))
bill_amts = df.iloc[:, 11:17]

plt.subplot(3,2,1)
bill_amts['BILL_AMT1'].hist(bins=25)

plt.subplot(3,2,2)
bill_amts['BILL_AMT2'].hist(bins=25)

plt.subplot(3,2,3)
bill_amts['BILL_AMT3'].hist(bins=25)

plt.subplot(3,2,4)
bill_amts['BILL_AMT4'].hist(bins=25)

plt.subplot(3,2,5)
bill_amts['BILL_AMT5'].hist(bins=25)

plt.subplot(3,2,6)
bill_amts['BILL_AMT6'].hist(bins=25)

In [ ]:
# ds1 = pd.Series([PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6])
# ds2 = pd.Series([BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6])
# Outstanding_Bal = ds2 - ds1

# print(Outstanding_Bal)

In [ ]:
# Load libraries

from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns="Y")
y = df.Y

In [ ]:
X

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# created new column OUTSTANDING_BAL for each month

df["OUTSTANDING_BAL1"] = (df.BILL_AMT1 - df.PAY_AMT1)
df["OUTSTANDING_BAL2"] = (df.BILL_AMT2 - df.PAY_AMT2)
df["OUTSTANDING_BAL3"] = (df.BILL_AMT3 - df.PAY_AMT3)
df["OUTSTANDING_BAL4"] = (df.BILL_AMT4 - df.PAY_AMT4)
df["OUTSTANDING_BAL5"] = (df.BILL_AMT5 - df.PAY_AMT5)
df["OUTSTANDING_BAL6"] = (df.BILL_AMT6 - df.PAY_AMT6)

df.head(5)

In [ ]:
# created new column %_LIMIT_BAL for each month

df["%_LIMIT_BAL1"] = (df.OUTSTANDING_BAL1 / df.LIMIT_BAL)
df["%_LIMIT_BAL2"] = (df.OUTSTANDING_BAL2 / df.LIMIT_BAL)
df["%_LIMIT_BAL3"] = (df.OUTSTANDING_BAL3 / df.LIMIT_BAL)
df["%_LIMIT_BAL4"] = (df.OUTSTANDING_BAL4 / df.LIMIT_BAL)
df["%_LIMIT_BAL5"] = (df.OUTSTANDING_BAL5 / df.LIMIT_BAL)
df["%_LIMIT_BAL6"] = (df.OUTSTANDING_BAL6 / df.LIMIT_BAL)


df.head(5)

In [ ]:
df.info()

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = X.columns, class_names=['0','1']) 
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('credit_card.png')
Image(graph.create_png())

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns=["BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6", "Y"])
y = df.Y

In [ ]:
X.columns

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns=['PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'OUTSTANDING_BAL1',
       'OUTSTANDING_BAL2', 'OUTSTANDING_BAL3', 'OUTSTANDING_BAL4',
       'OUTSTANDING_BAL5', 'OUTSTANDING_BAL6', "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6", "Y"])
y = df.Y

In [ ]:
X.columns

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

## Results
Creating calculated columns for Increasing outstanding balance per month column and Outstanding Bal had no meaningful effect and removing the repayment status, outstanding balance, bill amount lowered the accuracy by about a half percent