In [16]:
# import the censusdata and pandas modules and set some display options in pandas for nicer output:

import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

from pandas.io.json import json_normalize

In [17]:
# ACS5 labels of interest
# Most recent data is 2017

# B09010_001E	Total:	B09010. Receipt of SSI, Public Assistance Income, or Food Stamps/SNAP in the Past 12 Mnths by Hhld Type for Children < 18 in Hhl
#B06010_001E	Total:	B06010. Place of Birth by Individual Income in the United States
#B06010_002E	No income	B06010. Place of Birth by Individual Income in the United States
#B06010_004E	With income:!!$1 to $9,999 or loss	B06010. Place of Birth by Individual Income in the United States
#B06010_005E	With income:!!$10,000 to $14,999	B06010. Place of Birth by Individual Income in the United States
#B06010_006E	With income:!!$15,000 to $24,999	B06010. Place of Birth by Individual Income in the United States
#B06010_007E	With income:!!$25,000 to $34,999	B06010. Place of Birth by Individual Income in the United States
#B06010_008E	With income:!!$35,000 to $49,999	B06010. Place of Birth by Individual Income in the United States
#B06010_009E	With income:!!$50,000 to $64,999	B06010. Place of Birth by Individual Income in the United States
#B06010_010E	With income:!!$65,000 to $74,999	B06010. Place of Birth by Individual Income in the United States
#B06010_011E	With income:!!$75,000 or more	B06010. Place of Birth by Individual Income in the United States
#B06009_001E	Total:	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_002E	Less than high school graduate	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_003E	High school graduate (includes equivalency)	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_004E	Some college or associate's degree	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_005E	Bachelor's degree	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES
#B06009_006E	Graduate or professional degree	B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES

#SF1 labels of interest
# Count of Single Race Households by Zip
    #P003001 Total poulation
    #P003002 Population of one race
    #P003003 White alone
    #P003004 Black or African American alone
    #P003005 American Indian and Alaska Native alone
    #P003006 Asian alone
    #P003007 Native Hawaiian and Other Pacific Islander alone
    #P003008 Some other race alone
    #P004002 Hispanic or Latino
    #P013001 Both sexes MEDIAN AGE BY SEX
    #P013002 Male MEDIAN AGE BY SEX
    #P013003 Female MEDIAN AGE BY SEX
    #P015001 Total HOUSEHOLDS
    #P017001 Average household size 
    #P031001 Total FAMILIES


#censusdata.printtable(censusdata.censustable('acs5', 2017, {'B09010_001E', 'B06010_001E', 'B06010_002E', 'B06010_004E', 'B06010_005E', 'B06010_006E', 'B06010_007E','B06010_008E', 'B06010_009E', 'B06010_010E', 'B06010_011E',
 #              'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_004E', 'B06009_005E', 'B06009_006E'}))

countyacs5 = censusdata.download('acs5', 2017, censusdata.censusgeo([('county', '*')]),
                                   ['B09010_001E', 'B06010_001E', 'B06010_002E', 'B06010_004E', 'B06010_005E', 'B06010_006E', 'B06010_007E','B06010_008E', 
                                     'B06010_009E', 'B06010_010E', 'B06010_011E', 'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_004E', 'B06009_005E', 'B06009_006E'])
                                                             

#county = censusdata.download('acs5', 'sf1', 2017, 2010, censusdata.censusgeo([('county', '*')]),
 #                                  ['B09010_001E', 'B06010_001E', 'B06010_002E', 'B06010_004E', 'B06010_005E', 'B06010_006E', 'B06010_007E','B06010_008E', 
  #                                  'B06010_009E', 'B06010_010E', 'B06010_011E', 'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_004E', 'B06009_005E', 'B06009_006E'
   #                                 'P003001','P003002', 'P003003','P003004', 'P003005', 'P003006', 'P003007','P003008', 'P004002', 'P013001', 'P013002', 'P013003', 
    #                                'P015001', 'P017001', 'P031001'])            
    
countysf1 = censusdata.download('sf1', 2010, censusdata.censusgeo([('county', '*')]),    
                                    ['P003001','P003002', 'P003003','P003004', 'P003005', 'P003006', 'P003007','P003008', 'P004002', 'P013001', 'P013002', 'P013003', 
                                    'P015001', 'P017001', 'P031001']) 

county = countyacs5.append(countysf1, 'sort=True')

county.describe()


# ('B09010_001E', 'B06010_001E', 'B06010_002E', 'B06010_004E', 'B06010_005E', 'B06010_006E', 'B06010_007E','B06010_008E', 'B06010_009E', 'B06010_010E', 'B06010_011E',
#               'B06009_001E', 'B06009_002E', 'B06009_003E', 'B06009_004E', 'B06009_005E', 'B06009_006E')

       B06009_001E  B06009_002E  B06009_003E  B06009_004E  B06009_005E  B06009_006E  B06010_001E  B06010_002E  B06010_004E  B06010_005E    ...      P003006   P003007    P003008   P004002  P013001  P013002  P013003   P015001  P017001   P031001
count     3.14e+03     3.14e+03     3.14e+03     3.14e+03     3.14e+03      3142.00     3.14e+03     3.14e+03     3.14e+03      3142.00    ...      3221.00  3.22e+03    3221.00  3.22e+03  3221.00  3221.00  3221.00  3.22e+03  3221.00  3.22e+03
mean      6.88e+04     8.73e+03     1.88e+04     2.00e+04     1.32e+04      8119.20     8.27e+04     1.13e+04     1.33e+04      7200.49    ...       167.77  6.02e+03    2834.93  8.02e+04    40.24    39.05    41.47  3.67e+04     2.49  2.33e+04
std       2.21e+05     3.78e+04     5.06e+04     6.04e+04     4.77e+04     30151.23     2.65e+05     4.39e+04     4.00e+04     23023.58    ...      1907.24  4.76e+04   12628.83  2.14e+05     5.04     5.09     5.05  1.11e+05     0.22  7.62e+04
min       6.40e+01     4.00e+00     2.00e+01     2.70e+01     3.00e+00         0.00     6.70e+01     4.00e+00     9.00e+00         2.00    ...         0.00  0.00e+00       1.00  3.90e+01    21.90    21.70    21.60  3.90e+01     1.26  0.00e+00
25%       7.58e+03     1.02e+03     2.75e+03     2.28e+03     7.82e+02       385.25     8.89e+03     1.07e+03     1.65e+03       934.00    ...         2.00  7.90e+01     154.00  9.46e+03    37.20    35.90    38.60  4.44e+03     2.36  2.65e+03
50%       1.78e+04     2.53e+03     6.37e+03     5.27e+03     2.02e+03      1044.50     2.10e+04     2.75e+03     3.87e+03      2185.50    ...         8.00  3.54e+02     419.00  2.30e+04    40.20    38.90    41.60  1.01e+04     2.46  6.22e+03
75%       4.59e+04     5.79e+03     1.52e+04     1.42e+04     6.40e+03      3616.00     5.49e+04     7.08e+03     9.88e+03      5388.25    ...        33.00  1.81e+03    1410.00  6.10e+04    43.30    41.90    44.60  2.55e+04     2.58  1.52e+04
max       6.80e+06     1.49e+06     1.41e+06     1.78e+06     1.38e+06    739973.00     8.23e+06     1.52e+06     1.24e+06    803961.00    ...     90878.00  2.14e+06  438713.00  5.13e+06    62.70    61.50    63.50  3.24e+06     4.29  2.40e+06

[8 rows x 32 columns]

In [20]:
county.head(15)

    B06009_001E  B06009_002E  B06009_003E  B06009_004E  B06009_005E  B06009_006E  B06010_001E  B06010_002E  B06010_004E  B06010_005E   ...     P003006  P003007  P003008  P004002  P013001  P013002  P013003  P015001  P017001  P031001
0           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
5           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
6           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
7           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
8           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
9           NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
10          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
11          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
12          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
13          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
14          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN   ...         NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

[15 rows x 32 columns]

In [19]:
# create csv file with JSON normalize

county.to_csv('census-county.csv')
county = csv.write('census-county.csv')

NameError: name 'csv' is not defined

In [14]:
#Export to csv



censusdata.export.exportcsv('census_county.csv', pd.county)

AttributeError: module 'pandas' has no attribute 'county'