## Initial EDA

load in the data and first look at our target variable

In [16]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

from sklearn.tree import DecisionTreeClassifier                          # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split                     # Import train_test_split function from sklearn
from sklearn import metrics                                              #Import scikit-learn metrics module for accuracy calculation

In [28]:
#df = pd.read_excel('Full_Datav6_zip_extract.xls', header=None)
#df = pd.read_excel('Full_Datav5.xlsx', header=0)
#df = pd.read_csv('Full_Datav5.csv', header=0)



#y = df['Y']
#y = df.Y

#df.head()

#df = pd.read_excel('Full_Datav4.xls', header=0)
#df = pd.read_excel('Full_Datav6_zip_extract.xls', header=None)
df = pd.read_excel('Full_Datav6_zip_extractt.xls', header=0, skiprows=0)
#df = pd.read_csv('Full_Datav6_zip_extracttf.csv')

#df = pd.read_excel('Full_Datav4.xls', header=None)


df.columns = df.iloc[0,:]

#df.rename(index=str, columns={"SNAP Per Capita Benefit or TAM": "Y"}, inplace=True)

#df.drop('ID', inplace=True, axis=0)

#y = df["Y"]
#y = df.Y

df.head()

,765.0,1705.95,0.10173236328940306,2564042.85,13358.0,1167.0,3779.0,4397.0,2397.0,1618.0,...,229.0,16209.0,45.5,43.0,47.7,7215.0,2.23,3098.0,25.0,1001.0
0,765,1705.95,0.101732,2564042.85,13358,1167,3779,4397,2397,1618,...,229,16209,45.5,43.0,47.7,7215,2.23,3098,25,1001
1,749,1827.56,0.062913,2746822.68,13787,633,1684,2229,3405,5836,...,1217,26766,24.0,23.6,24.8,9910,2.44,4050,25,1002
2,8,25.60,0.002468,38476.80,136,26,13,68,14,15,...,372,9843,20.2,20.2,20.1,5,3.20,10,25,1003
3,147,383.67,0.075540,576656.01,3498,123,1270,1023,547,535,...,71,4990,41.0,40.0,41.7,1904,2.61,1284,25,1005
4,450,1179.00,0.080483,1772037.00,10062,644,2407,2518,2423,2070,...,260,14264,41.1,40.0,42.0,5595,2.62,3691,25,1007

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32936 entries, 0 to 32935
Data columns (total 37 columns):
765.0                  32936 non-null int64
1705.95                32936 non-null float64
0.10173236328940306    32936 non-null float64
2564042.85             32936 non-null float64
13358.0                32936 non-null int64
1167.0                 32936 non-null int64
3779.0                 32936 non-null int64
4397.0                 32936 non-null int64
2397.0                 32936 non-null int64
1618.0                 32936 non-null int64
14915.0                32936 non-null int64
923.0                  32936 non-null int64
1964.0                 32936 non-null int64
1587.0                 32936 non-null int64
2333.0                 32936 non-null int64
1810.0                 32936 non-null int64
1979.0                 32936 non-null int64
1576.0                 32936 non-null int64
986.0                  32936 non-null int64
1757.0                 32936 non-null int64
16769.0                32936 non-null int64
15704.0                32936 non-null int64
310.0                  32936 non-null int64
28.0                   32936 non-null int64
357.0                  32936 non-null int64
0.0                    32936 non-null int64
141.0                  32936 non-null int64
229.0                  32936 non-null int64
16209.0                32936 non-null int64
45.5                   32936 non-null float64
43.0                   32936 non-null float64
47.7                   32936 non-null float64
7215.0                 32936 non-null int64
2.23                   32936 non-null float64
3098.0                 32936 non-null int64
25.0                   32936 non-null int64
1001.0                 32936 non-null int64
dtypes: float64(7), int64(30)
memory usage: 9.3 MB

In [4]:
# building features and re-naming target data Y

df.rename(index=str, columns={"SNAP Per Capita Benefit or TAM": "Y"}, inplace=True)
#df.drop('NAME', axis=1, inplace=True )
#df = df.astype('float32')

df.head()

,Households SNAP,Estimated Individuals SNAP,SNAP % Population,Y,Total Citizen Educated in US,Citizen Less than High School Education,Citizen High School Graduate,Citizen Some College Education,Citizen College Degree,Citizen Graduate or Professional Degree,...,Other Race Alone,Hispanic or Latino,Median Age,Male Median Age,Female Median Age,Total Households,Average Household Size,Total Families,state code,zip code
0,Households SNAP,Estimated Individuals SNAP,SNAP % Population,SNAP Per Capita Benefit or TAM,Total Citizen Educated in US,Citizen Less than High School Education,Citizen High School Graduate,Citizen Some College Education,Citizen College Degree,Citizen Graduate or Professional Degree,...,Other Race Alone,Hispanic or Latino,Median Age,Male Median Age,Female Median Age,Total Households,Average Household Size,Total Families,state code,zip code
1,765,1705.95,0.101732,2.56404e+06,13358,1167,3779,4397,2397,1618,...,229,16209,45.5,43,47.7,7215,2.23,3098,25,1001
2,749,1827.56,0.062913,2.74682e+06,13787,633,1684,2229,3405,5836,...,1217,26766,24,23.6,24.8,9910,2.44,4050,25,1002
3,8,25.6,0.00246818,38476.8,136,26,13,68,14,15,...,372,9843,20.2,20.2,20.1,5,3.2,10,25,1003
4,147,383.67,0.0755405,576656,3498,123,1270,1023,547,535,...,71,4990,41,40,41.7,1904,2.61,1284,25,1005

In [6]:
#find out missing values
names = []
value = []
for col in df.columns:
    names.append(col)
    value.append(df[col].isnull().sum())
    print("number of missing values: ", names[-1], value[-1],"""     """, "Percentage of missing values:", names[-1], round((value[-1]/32936)*100))  
    #print("number of missing values: ", names[-1], value[-1],"""     """, "Percentage of missing values:", names[-1], round((value[-1]/682)*100))

number of missing values:  Households SNAP 0       Percentage of missing values: Households SNAP 0.0
number of missing values:  Estimated Individuals SNAP 0       Percentage of missing values: Estimated Individuals SNAP 0.0
number of missing values:  SNAP % Population 0       Percentage of missing values: SNAP % Population 0.0
number of missing values:  Y 0       Percentage of missing values: Y 0.0
number of missing values:  Total Citizen Educated in US 0       Percentage of missing values: Total Citizen Educated in US 0.0
number of missing values:  Citizen Less than High School  Education 0       Percentage of missing values: Citizen Less than High School  Education 0.0
number of missing values:  Citizen High School  Graduate 0       Percentage of missing values: Citizen High School  Graduate 0.0
number of missing values:  Citizen Some College  Education 0       Percentage of missing values: Citizen Some College  Education 0.0
number of missing values:  Citizen College Degree  0       Percentage of missing values: Citizen College Degree  0.0
number of missing values:  Citizen Graduate or Professional Degree 0       Percentage of missing values: Citizen Graduate or Professional Degree 0.0
number of missing values:  Total Citizen Income 0       Percentage of missing values: Total Citizen Income 0.0
number of missing values:  Citizen No Income 0       Percentage of missing values: Citizen No Income 0.0
number of missing values:  Citizen Income $1-$9,999 0       Percentage of missing values: Citizen Income $1-$9,999 0.0
number of missing values:  Citizen Income $10,000-$14,999 0       Percentage of missing values: Citizen Income $10,000-$14,999 0.0
number of missing values:  Citizen Income $15,000-$24,999 0       Percentage of missing values: Citizen Income $15,000-$24,999 0.0
number of missing values:  Citizen Income $25,000-$34,999 0       Percentage of missing values: Citizen Income $25,000-$34,999 0.0
number of missing values:  Citizen Income $35,000-$49,999 0       Percentage of missing values: Citizen Income $35,000-$49,999 0.0
number of missing values:  Citizen Income $50,000-$64,999 0       Percentage of missing values: Citizen Income $50,000-$64,999 0.0
number of missing values:  Citizen Income $65,000-$74,999 0       Percentage of missing values: Citizen Income $65,000-$74,999 0.0
number of missing values:  Citizen Income $75,000 +  0       Percentage of missing values: Citizen Income $75,000 +  0.0
number of missing values:  Total Population 0       Percentage of missing values: Total Population 0.0
number of missing values:  One Race Population 0       Percentage of missing values: One Race Population 0.0
number of missing values:  White Race 0       Percentage of missing values: White Race 0.0
number of missing values:  Black Race 0       Percentage of missing values: Black Race 0.0
number of missing values:  Native American Race 0       Percentage of missing values: Native American Race 0.0
number of missing values:  Asian Race 0       Percentage of missing values: Asian Race 0.0
number of missing values:  Pacific Islander Race 0       Percentage of missing values: Pacific Islander Race 0.0
number of missing values:  Other Race Alone 0       Percentage of missing values: Other Race Alone 0.0
number of missing values:  Hispanic or Latino 0       Percentage of missing values: Hispanic or Latino 0.0
number of missing values:  Median Age 0       Percentage of missing values: Median Age 0.0
number of missing values:  Male Median Age 0       Percentage of missing values: Male Median Age 0.0
number of missing values:  Female Median Age 0       Percentage of missing values: Female Median Age 0.0
number of missing values:  Total Households 0       Percentage of missing values: Total Households 0.0
number of missing values:  Average Household Size 0       Percentage of missing values: Average Household Size 0.0
number of missing values:  Total Families 0       Percentage of missing values: Total Families 0.0
number of missing values:  state code 0       Percentage of missing values: state code 0.0
number of missing values:  zip code 0       Percentage of missing values: zip code 0.0

In [14]:
#convert columns to numeric

#df = pd.to_numeric
#df = df.astype('float32')

s = pd.Series(['Households SNAP', 'Estimated Individuals SNAP', 'SNAP % Population', 'SNAP Per Capita Benefit or TAM', 'Total Citizen Educated in US'])
#               'Citizen Less than High School Education', 'Citizen High School Graduate', 'Citizen Some College Education', 'Citizen College Degree', 
 #              'Citizen Graduate or Professional Degree', 'Total Citizen Income', 'Citizen No Income',  Citizen Income $1-$9,999 	 Citizen Income $10,000-$14,999 	 Citizen Income $15,000-$24,999 	 Citizen Income $25,000-$34,999 	 Citizen Income $35,000-$49,999 	 Citizen Income $50,000-$64,999 	 Citizen Income $65,000-$74,999 	 Citizen Income $75,000 +  	 Total Population 
#Other Race Alone	Hispanic or Latino	Median Age	Male Median Age	Female Median Age	Total Households	Average Household Size	Total Families	state code	zip code

pd.to_numeric(s)


               
df.info()

ValueError: Unable to parse string "Households SNAP" at position 0

In [8]:
df.info()

AttributeError: 'function' object has no attribute 'info'

In [ ]:
# All columns should be numeric except NAME. Converting to numeric and NAME to a string

cols= i for i in df.columns if i not in ["NAME"]
for col in cols:
    df[col]=pd.to_numeric(df[col])
      
#cols=[i for i in df.columns if i not in ["NAME"]
#for col in cols:
 #   df[col]=pd.to_numeric(df[col])

In [ ]:
#split my data
df = df.astype('float32')
#X = df.drop(columns = 'Y')
#y = df['Y']

df.info()

All of these columns should be columns should be numeric, so let's convert it all to numeric

In [ ]:
df = df(NAME).astype('str')
#df = df.astype('float32')
#df = pd.DataFrame(NAME, dtype='str')
#df = pd.DataFrame(X, dtype='float32')

df.info()

In [ ]:
df.info()

## Let's look at the target variable.

In [ ]:
df.Y.value_counts().plot(kind='bar')

There is some inbalance here, so we need to note to do some sort of imbalance handling later in the pipeline.

Now let's look at some univariate plots to get a sense of what our features look like.

In [ ]:
df.columns

In [ ]:
#create histograms for each variable
#we'll group some of the columns together to make plotting easier

df_group1 = df.iloc[:, 0:5]
df_group1.plot(kind='density', subplots=True, layout=(3,2), sharex=False)
plt.show()


#df.hist()
#plt.show()

Some notes: LIMIT_BAL and AGE are approaching a gaussian shape, but both are somewhat rightly skewed. Both sex and Marriage are bimodal (obviously), and Education is trimodal, with the three most common values of 1, 2, 3, and a tiny amount of 4, and 5. Besides LIMIT_BAL, nothing particular about these features. 

Next, we'll look at the Payment history. Since the values in these features are categorical in nature, we'll use bar plots.

In [ ]:
#create group
df_pay_hist = df.iloc[:,5:11]

fig, ax = plt.subplots(figsize = (10,8), sharex=True)


plt.subplot(3,2,1)
df['PAY_0'].value_counts().plot(kind='bar')

plt.subplot(3,2,2)
df['PAY_2'].value_counts().plot(kind='bar')

plt.subplot(3,2,3)
df['PAY_3'].value_counts().plot(kind='bar')

plt.subplot(3,2,4)
df['PAY_4'].value_counts().plot(kind='bar')

plt.subplot(3,2,5)
df['PAY_5'].value_counts().plot(kind='bar')

plt.subplot(3,2,6)
df['PAY_6'].value_counts().plot(kind='bar')

Some notes: all the plots are pretty much the same. Values of 0 are the most common by a large amount, i.e. another instance of some class inbalance. Will have to handle as well. 

Next, look at the Bill amounts.

In [ ]:
df['BILL_AMT1'].plot(kind='hist', )

In [ ]:
#create group
ax, fig = plt.subplots(figsize = (10,8))
bill_amts = df.iloc[:, 11:17]

plt.subplot(3,2,1)
bill_amts['BILL_AMT1'].hist(bins=25)

plt.subplot(3,2,2)
bill_amts['BILL_AMT2'].hist(bins=25)

plt.subplot(3,2,3)
bill_amts['BILL_AMT3'].hist(bins=25)

plt.subplot(3,2,4)
bill_amts['BILL_AMT4'].hist(bins=25)

plt.subplot(3,2,5)
bill_amts['BILL_AMT5'].hist(bins=25)

plt.subplot(3,2,6)
bill_amts['BILL_AMT6'].hist(bins=25)

In [ ]:
# ds1 = pd.Series([PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6])
# ds2 = pd.Series([BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6])
# Outstanding_Bal = ds2 - ds1

# print(Outstanding_Bal)

In [ ]:
# Load libraries

from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns="Y")
y = df.Y

In [ ]:
X

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# created new column OUTSTANDING_BAL for each month

df["OUTSTANDING_BAL1"] = (df.BILL_AMT1 - df.PAY_AMT1)
df["OUTSTANDING_BAL2"] = (df.BILL_AMT2 - df.PAY_AMT2)
df["OUTSTANDING_BAL3"] = (df.BILL_AMT3 - df.PAY_AMT3)
df["OUTSTANDING_BAL4"] = (df.BILL_AMT4 - df.PAY_AMT4)
df["OUTSTANDING_BAL5"] = (df.BILL_AMT5 - df.PAY_AMT5)
df["OUTSTANDING_BAL6"] = (df.BILL_AMT6 - df.PAY_AMT6)

df.head(5)

In [ ]:
# created new column %_LIMIT_BAL for each month

df["%_LIMIT_BAL1"] = (df.OUTSTANDING_BAL1 / df.LIMIT_BAL)
df["%_LIMIT_BAL2"] = (df.OUTSTANDING_BAL2 / df.LIMIT_BAL)
df["%_LIMIT_BAL3"] = (df.OUTSTANDING_BAL3 / df.LIMIT_BAL)
df["%_LIMIT_BAL4"] = (df.OUTSTANDING_BAL4 / df.LIMIT_BAL)
df["%_LIMIT_BAL5"] = (df.OUTSTANDING_BAL5 / df.LIMIT_BAL)
df["%_LIMIT_BAL6"] = (df.OUTSTANDING_BAL6 / df.LIMIT_BAL)


df.head(5)

In [ ]:
df.info()

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = X.columns, class_names=['0','1']) 
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('credit_card.png')
Image(graph.create_png())

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns=["BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6", "Y"])
y = df.Y

In [ ]:
X.columns

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# divided columns into two types of variables - target variable (y) and feature variables (X).
X = df.drop(columns=['PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'OUTSTANDING_BAL1',
       'OUTSTANDING_BAL2', 'OUTSTANDING_BAL3', 'OUTSTANDING_BAL4',
       'OUTSTANDING_BAL5', 'OUTSTANDING_BAL6', "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6", "Y"])
y = df.Y

In [ ]:
X.columns

In [ ]:
# Split dataset into training set and test set
# 70% training and 30% test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2019)

### Building Decision Tree Model
Let's create a Decision Tree Model using `DecisionTreeClassifier` provided in `Scikit-learn`.

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

### Evaluating Model
Estimate, how accurately the classifier or model can predict the type of cultivars.

Accuracy can be computed by comparing actual test set values (y_test) and predicted values (y_pred).

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

## Results
Creating calculated columns for Increasing outstanding balance per month column and Outstanding Bal had no meaningful effect and removing the repayment status, outstanding balance, bill amount lowered the accuracy by about a half percent